@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ml-45 {
    margin-left: 45rem
  }
}

@layer utilities {
  .text-62 {
    font-size: 62px
  }
}

@layer utilities {
  .text-48 {
    font-size: 48px
  }
}

@layer utilities {
  .roll-5 {
    transition: all ease 0.5s
  }
}

@layer utilities {
  .w-370 {
    width: 370px
  }
}


@layer utilities {
  .rounded-15 {
    border-radius: 15px
  }
}

@layer utilities {
  .t-black {
    color: #282828
  }
}


@layer utilities {
  .seta-direita {
    right: 0;
    margin-top: 16%;    
    position: absolute;
    display: flex;
    z-index: 99;
    align-items: center;
  }
}

@layer utilities {
  .seta-esquerda {
    left: 0;
    margin-top: 16%;     
    position: absolute;
    display: flex;
    z-index: 99;
    align-items: center;
  }
}

@layer utilities {
  .w-536 {
    width: 536px;
  }
}

@layer utilities {
  .bg-laranja {
    background-color: #FF2D02;
  }
}

@layer utilities {
  .h-752 {
    height: 752px;
  }
}

.task-list-item:before {
  @apply hidden;
}

html {
  scroll-behavior: smooth;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
